In [26]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelBinarizer, MultiLabelBinarizer
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.decomposition import PCA

In [2]:
heart = pd.read_csv('https://github.com/Nishant2415/Machine-Learning/raw/master/Dataset/HeartDisease.csv')

In [16]:
heart.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,class_actual,class_predict
0,63,1,3,145.0,233,1,0,150,0.0,2.3,0,0,1,1,1
1,37,1,2,130.0,250,0,1,187,0.0,3.5,0,0,2,1,1
2,41,0,1,130.0,204,0,0,172,0.0,1.4,2,0,2,1,1
3,56,1,1,120.0,236,0,1,178,0.0,0.8,2,0,2,1,1
4,57,0,0,120.0,354,0,1,163,1.0,0.6,2,0,2,1,0

In [19]:
heart.drop('class_predict',axis=1,inplace=True)

In [13]:
heart.dropna(inplace=True)

In [20]:
pca = PCA(n_components = 0.99)
features_pca = pca.fit_transform(heart)
print('Original features',heart.shape[1])
print('Reduced features',features_pca.shape[1])

Original features 14
Reduced features 5

In [31]:
features = heart.iloc[:,:-1]
features.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,3,145.0,233,1,0,150,0.0,2.3,0,0,1
1,37,1,2,130.0,250,0,1,187,0.0,3.5,0,0,2
2,41,0,1,130.0,204,0,0,172,0.0,1.4,2,0,2
3,56,1,1,120.0,236,0,1,178,0.0,0.8,2,0,2
4,57,0,0,120.0,354,0,1,163,1.0,0.6,2,0,2

In [32]:
lda = LinearDiscriminantAnalysis(n_components=1)
target = heart.iloc[:, -1:]
features_lda = lda.fit(features, np.array(target).ravel()).transform(features)
print('Original features',heart.shape[1])
print('Reduced features',features_lda.shape[1])

Original features 14
Reduced features 1